*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --page-background-color: #e3516e;
  --figures-background-color: #fade8b;
}

html {
  font-family: ;
  direction: ltr;
  font-size: 20px;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--page-background-color);
  color: var(--page-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.top {
  border-left: 8rem solid transparent;
  border-right: 8rem solid transparent;
  border-bottom: 10rem solid var(--figures-background-color);
}

.buttom::before {
  content: "";
  border-left: 8rem solid transparent;
  border-top: 8rem solid var(--figures-background-color);
  position: relative;
  bottom: -8rem;
  left: -8rem;
}

.buttom {
  width: 16rem;
  height: 8rem;
  background-color: var(--figures-background-color);
  position: relative;
}

.buttom::after {
  content: "";
  border-right: 8rem solid transparent;
  border-top: 8rem solid var(--figures-background-color);
  position: relative;
  bottom: -8rem;
  left: 8rem;
}
