*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --page-background-color: #f5d6b4;
  --figures-background-color: #d86f45;
}

html {
  font-family: ;
  direction: ltr;
  font-size: 20px;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}

figure {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top,
.buttom {
  width: 90vh;
  height: 90vh;
  border-radius: 50%;
  background-color: var(--figures-background-color);
}

.top {
  position: relative;
  top: -45vh;
}

.buttom {
  position: absolute;
  bottom: -45vh;
}
